/.vs
/.idea
/.vscode
obj/
*.user
/bin/Libs
/bin/Logs
/bin/*.*
!/bin/*.ps1
!/bin/*.cmd
/version.txt
/*.zip
/BuildAndDeploy.cmd
/Deploy.cmd
/FastCopy.exe
/FastCopy2.ini
/bin/Tools/CrystalDiskInfo/Smart
/bin/Tools/CrystalDiskInfo/DiskInfo.ini
